// background colors

$bg-gray: #E5E5E5;
$bg-snow: #F9F9F9;
$bg-white: #FFFFFF;
$bg-pink-swan: #B2B2B2;

// component colors

$fern: #5AB963;
$whisper: #E6E6E6;
$summer-sky: #26C6DA;
$speech-blue: #3768C4;
$aqua-spring: #E8F5E9;
$cinnabar: #E53935;
$eclipse: #3D3D3D;
$grey: #888888;
$fruit-salad: #43A047;
$sunglow: #FFCA28;
$dark-grey: #A9A9A9;
$white-smoke: #F3F3F3;